<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>QuotingDojo</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to Quoting Dojo</h1>
            <form action="/quotes" method="post">
                <div class="name_row">
                    <label for="name"><p>Your Name:</p></label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="quote_row">
                    <label for="quote"><p>Your Quote:</p></label>
                    <input type="text" name="quote" id="quote">
                </div>
                <div class="buttonz">
                    <span><form action="/quotes" method="post" class="button_row">
                            <button type="submit">Add my Quote</button>
                        </form>
                        <form action="/quotes" method="get" class="skip_form">
                            <button type="submit">Skip to Quotes</button>
                        </form></span>
                </div>
            
            
                
            </form>
        </div>
    </body>
</html>